body {
    margin: 0;
    font-family: 'Spartan';   
} 
.darkBody {
    background-color: rgb(24, 23, 23);
    color: white;
}
.ligthBody {
    background-color: white;
    color: black;
}
#SwitchTheme:after {
    display:block;
    width: 102%;
    content: ' ';
    border-bottom: solid 1px white;  
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}
#SwitchTheme:hover:after {
    transform: scaleX(1); 
    transform-origin: 0%;
}
#SwitchTheme.white {
    color: black;
}
#SwitchTheme.white:after {
    display:block;
    width: 102%;
    content: ' ';
    border-bottom: solid 1px black;  
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}
#SwitchTheme:hover.white:after {
    transform: scaleX(1); 
    transform-origin: 0%;
}
@keyframes animationSlide {
    100% { transform: translateX(0%); }
}
.animName {
    animation: animationSlide 1.5s cubic-bezier(0.3, 0.1, 0.1, 1) forwards;
}
.myButton {
    font-size:3vh; 
    width:32%;
    height:120px; 
    border-radius:100px
}
.whiteStroke {
    -webkit-text-stroke: 1px white;
}
.blackStroke {
    -webkit-text-stroke: 1px black;
}
section {
    height: 90vh;
    position: relative;
    top:0px;
}
section + section {
    position: absolute;
    top:100%;
    display: none;
    z-index: 10;
}
#schoolText {
    box-shadow: -10px 8px 2px #888888;
    z-index: 40;
}